<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <bean id="testBean" class="org.bpmnwithactiviti.osgi.TestBean" />
  <bean id="testBean2" class="org.bpmnwithactiviti.osgi.TestBean2" />
  
  <service ref="testBean" interface="org.activiti.engine.delegate.JavaDelegate" />
  
  <service ref="testBean2" interface="org.activiti.engine.delegate.JavaDelegate" />
  
</blueprint>

